<section class="main-section" ng-controller="HomeCtrl">
    <div class="wrrap-code">
        <div class="code-section-wrraper">
            <h1>HTML</h1>
            <div id="code_html" ui-codemirror="{ onLoad : codemirrorLoaded }"  ui-codemirror-opts="config_html" class="code html-section"></div>
        </div>
        <div class="code-section-wrraper">
            <h1>CSS</h1>
            <div id="code_css" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="config_css" class="code css-section"></div>
        </div>
        <div class="code-section-wrraper">
            <h1>JS</h1>
            <div id="code_js" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="config_js" class="code js-section"></div>
        </div>
    </div>
</section>
<section class="freme-section">
    <div id="read-code" class="wrrap-frame">
        <iframe  frameborder='0' id='iframeResult'></iframe>
    </div>
</section>