<div ng-controller="HomeCtrl">
    <section class="main-section">
        <div class="wrrap-code">
            <div resizables class="code-section-wrraper code-html">
                <h1>HTML</h1>
                <div iframe-html id="code_html" 
                     ui-codemirror="{ onLoad : codemirrorLoaded }" 
                     ng-model="config_html.value"
                     ui-codemirror-opts="config_html" 
                     class="code html-section"></div>
            </div>
            <div class="resize"></div>
            <div resizables class="code-section-wrraper code-css">
                <h1>CSS</h1>
                <div iframe-css id="code_css" 
                     ui-codemirror="{ onLoad : codemirrorLoaded }" 
                     ng-model="config_css.value"
                     ui-codemirror-opts="config_css" 
                     class="code css-section"></div>
            </div>
            <div class="resize"></div>
            <div resizables class="code-section-wrraper code-js">
                <h1>JS</h1>
                <div iframe-js id="code_js" 
                     ui-codemirror="{ onLoad : codemirrorLoaded }" 
                     ng-model="config_js.value"
                     ui-codemirror-opts="config_js" 
                     class="code js-section"></div>
            </div>
        </div>
    </section>
    <section class="freme-section">
        <div id="read-code" class="wrrap-frame">
            <iframe  id='iframeResult' ng-src="../views/frame.html" height="600px" width="100%"  frameborder='0'></iframe>
        </div>
    </section>
</div>