header {
    .wrrap-header {
        background-color: $yankees_blue;
      ul {
          display: block;
          padding: 25px 0px;
          margin: 0px 10px;
          li {
            display: inline-block;
            a {
                border: 1px solid $eucalyptus;
                background-color: $english_green;
                color: $orange_yellow;
                padding: 10px 20px;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: .3s;
                font: {
                    weight: bold;
                    family: 'Roboto', sans-serif;
                }
            }
          }
      }
    }
}
.main-section {
    background-color: $yankees_blue;
    .wrrap-code {
        border-top: 6px solid $eucalyptus;
        border-bottom: 6px solid $eucalyptus;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .resize {
            flex: 0 0 auto;
            width: 18px;  
            background: $eucalyptus;
            // background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat $eucalyptus;
            cursor: none;  
        }
        .code-html {
            flex: 1 1 auto;
            width: 32%;
        }
        .code-css {
            flex: 1 1 auto;
            width: 32%;
        }
        .code-js {
            flex: 1 1 auto;
            width: 32%;
        }
        .code-section-wrraper {
            min-width: 10px;
            // border: 1px solid $eucalyptus;
            h1  {
                color: $orange_yellow;
                background-color: $english_green;
                font: {
                    size: 19px;
                    weight: 600;
                    family: 'Roboto', sans-serif;
                }
                padding: 10px;
            }
            .code {
                width: 100%;
            }
        }
        .code-section-wrraper:nth-child(2) {
            border-right : 6px solid $eucalyptus;
            border-left : 6px solid $eucalyptus;
        }

    }
}

